    <div class="entrytest">
      <a class="w-inline-block" href="{{ post.url }}"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="{{ post.data.cardImage }}">
      </a>

      <a class="entry-title" href="{{ post.url }}">{{ post.data.cardTitle | safe }}</a><a class="entry-date" href="{{ post.url }}">{{ post.data.cardDate }}</a>
    </div>
