  <div class="hero"><a class="header-link w-button" href="/index.html">BEEN ALREADY</a>
  </div>
  <div class="navigation-bar w-nav" data-animation="default" data-collapse="none" data-duration="400" data-no-scroll="1">
    <div class="navigation-container w-container">
      <nav class="w-nav-menu" role="navigation"><a class="navigation-link w-nav-link" href="/about.html">ABOUT</a><a class="navigation-link w-nav-link" href="/mapped.html">MAPPED</a><a class="navigation-link w-nav-link" href="/at.html">@</a><a class="navigation-link w-nav-link" href="/wrapped.html">WRAPPED</a><a class="navigation-link w-nav-link" href="/contact.html">CONTACT</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
