---
date: "2015-01-25"
cardTitle: "Singapore"
cardDate: "2015-01-25 to 2017-08-23"
cardImage: "/images/DSCF9244.JPG"
layout: "base.njk"
title: "Singapore, Table of Contents"
description: "All of our Singapore trips on one page."
bodyClass: "body"
permalink: "/asia/singapore/singaporetoc.html"
extraHead: "<!-- Leaflet CSS -->\n  <link\n    rel=\"stylesheet\"\n    href=\"https://unpkg.com/leaflet@1.9.4/dist/leaflet.css\"\n    integrity=\"sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=\"\n    crossorigin=\"\"\n  />\n  <style>\n    #map.leaflet-container {\n      font-family: Bitter, serif !important;\n      font-size: 16px !important;\n      line-height: 1.4 !important;\n      color: inherit;\n    }\n    #map .leaflet-popup-content,\n    #map .leaflet-tooltip {\n      font-family: inherit !important;\n      font-size: inherit !important;\n      color: inherit;\n    }\n  </style>"
extraScripts: "<script\n    src=\"https://unpkg.com/leaflet@1.9.4/dist/leaflet.js\"\n    integrity=\"sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=\"\n    crossorigin=\"\"\n  ></script>"
---
<div class="page-title-container">
    <div class="page-title">SINGAPORE</div>
  </div>

  <div class="w-container">
    <div class="blog-body w-richtext">
      <p>‍</p>
      <p>The end of my Singapore chapter for now. Posts (and map) below belong to the period from 2015-01-25 to 2017-08-23, the first time I lived in Singapore. Posts above detail visits I've done after, or, who knows, possibly during my time in Singapore; should I ever move back to the Little Red Dot. </p>
    </div>
  </div>
  
<!--Building Map-->
  <div class="currentmap w-container">
	<center>
	  <div id="map" style="width: 90%; height: 400px;"></div>

	  <script type="text/javascript">
		var locations = [
		  ['7km Hike - Mt. Faber, Henderson Bridge', 1.273611, 103.817778, '../../asia/singapore/7kmwalk.html'],
		  ['Chinese Garden', 1.338455, 103.729954, '../../asia/singapore/hawparchinesegarden.html'],
		  ['Chinese New Year @ Chinatown', 1.283896, 103.843464, '../../asia/singapore/cny2015.html'],
		  ['Duffin Christmas', 1.291532, 103.844609, '../../asia/singapore/christmasnyduffin.html'],
		  ['Hari Raya Puasa @ Paya Lebar', 1.318059, 103.893008, '../../asia/singapore/harirayapuasa2015.html'],
		  ['Haw Par Villa', 1.283698, 103.781818, '../../asia/singapore/hawparchinesegarden.html'],
		  ['Kusu Island', 1.223243, 103.861119, '../../asia/singapore/stjohnskusu.html'],
		  ['Pink Dot @ Hong Lim Park', 1.286568, 103.8464, '../../asia/singapore/pinkdot2015.html'],
		  ['Pulau Ubin', 1.412592, 103.957908, '../../asia/singapore/pulauubin.html'],
		  ['St. Johns Island', 1.219514, 103.848437, '../../asia/singapore/stjohnskusu.html'],
		  ['Sungei Buloh', 1.446645, 103.730169, '../../asia/singapore/sungeibuloh.html'],
		  ['Thaipusam @ Little India', 1.312413, 103.8547, '../../asia/singapore/thaipusam2015.html'],
		];

		function initLeaflet() {
		  var map = L.map('map').setView([1.352083, 103.819836], 11);

		  L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
			maxZoom: 19,
			attribution: '&copy; OpenStreetMap contributors &copy; CARTO'
		  }).addTo(map);

		  for (var i = 0; i < locations.length; i++) {
			var title = locations[i][0];
			var lat = locations[i][1];
			var lng = locations[i][2];
			var url = locations[i][3];
			var popupHTML = '<a href="' + url + '">' + title + '</a>';
			L.marker([lat, lng]).addTo(map).bindPopup(popupHTML);
		  }
		}

		if (document.readyState === 'loading') {
		  document.addEventListener('DOMContentLoaded', initLeaflet);
		} else {
		  initLeaflet();
		}
	  </script>
	 </center>
  </div>
 <!--End Map-->
 
   <div class="flexwrap w-container">
  
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/liondance2017.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20170114_213327.jpg" srcset="../../images/IMG_20170114_213327.jpg 500w, ../../images/IMG_20170114_213327.jpg 800w, ../../images/IMG_20170114_213327.jpg 1080w, ../../images/IMG_20170114_213327.jpg 1600w, ../../images/IMG_20170114_213327.jpg 2000w, ../../images/IMG_20170114_213327.jpg 2400w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/liondance2017.html">lion dance 2017</a><a class="entry-date" href="../../asia/singapore/liondance2017.html">2017-01-14</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/thaipusam2016.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20160124_203640_HDR.jpg" srcset="../../images/IMG_20160124_203640_HDR-p-500x667.jpeg 500w, ../../images/IMG_20160124_203640_HDR-p-800x1067.jpeg 800w, ../../images/IMG_20160124_203640_HDR-p-1080x1440.jpeg 1080w, ../../images/IMG_20160124_203640_HDR-p-1600x2134.jpeg 1600w, ../../images/IMG_20160124_203640_HDR-p-2000x2667.jpeg 2000w, ../../images/IMG_20160124_203640_HDR.jpg 2400w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/thaipusam2016.html">thaipusam 2016</a><a class="entry-date" href="../../asia/singapore/thaipusam2016.html">2016-01-24</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/sungeibuloh.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20160117_124919_HDR.jpg" srcset="../../images/IMG_20160117_124919_HDR-p-500x667.jpeg 500w, ../../images/IMG_20160117_124919_HDR-p-800x1067.jpeg 800w, ../../images/IMG_20160117_124919_HDR-p-1080x1440.jpeg 1080w, ../../images/IMG_20160117_124919_HDR.jpg 1536w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/sungeibuloh.html">sungei buloh</a><a class="entry-date" href="../../asia/singapore/sungeibuloh.html">2016-01-17</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/christmasnyduffin.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20151227_150745_HDR.jpg" srcset="../../images/IMG_20151227_150745_HDR-p-500x667.jpeg 500w, ../../images/IMG_20151227_150745_HDR-p-800x1067.jpeg 800w, ../../images/IMG_20151227_150745_HDR-p-1080x1440.jpeg 1080w, ../../images/IMG_20151227_150745_HDR.jpg 1536w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/christmasnyduffin.html">christmas / nye 2015</a><a class="entry-date" href="../../asia/singapore/christmasnyduffin.html">2015-12-24 to 2016-01-02</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/pinkdot2015.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_0888.JPG" srcset="../../images/IMG_0888-p-500x375.jpeg 500w, ../../images/IMG_0888-p-800x600.jpeg 800w, ../../images/IMG_0888-p-1080x810.jpeg 1080w, ../../images/IMG_0888-p-1600x1200.jpeg 1600w, ../../images/IMG_0888-p-2000x1500.jpeg 2000w, ../../images/IMG_0888-p-2600x1950.jpeg 2600w, ../../images/IMG_0888-p-3200x2400.jpeg 3200w, ../../images/IMG_0888.JPG 3264w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/pinkdot2015.html">pink dot 2015</a><a class="entry-date" href="../../asia/singapore/pinkdot2015.html">2015-06-29</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/harirayapuasa2015.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20150620_204249.jpg" srcset="../../images/IMG_20150620_204249-p-500x667.jpeg 500w, ../../images/IMG_20150620_204249-p-800x1067.jpeg 800w, ../../images/IMG_20150620_204249-p-1080x1440.jpeg 1080w, ../../images/IMG_20150620_204249-p-1600x2134.jpeg 1600w, ../../images/IMG_20150620_204249-p-2000x2667.jpeg 2000w, ../../images/IMG_20150620_204249.jpg 2400w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/harirayapuasa2015.html">hari raya puasa 2015</a><a class="entry-date" href="../../asia/singapore/harirayapuasa2015.html">2015-06-20</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/stjohnskusu.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20150328_130552.jpg" srcset="../../images/IMG_20150328_130552-p-500x667.jpeg 500w, ../../images/IMG_20150328_130552-p-800x1067.jpeg 800w, ../../images/IMG_20150328_130552-p-1080x1440.jpeg 1080w, ../../images/IMG_20150328_130552-p-1600x2134.jpeg 1600w, ../../images/IMG_20150328_130552-p-2000x2667.jpeg 2000w, ../../images/IMG_20150328_130552.jpg 2448w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/stjohnskusu.html">st. john's &amp;<br>Kusu island</a><a class="entry-date" href="../../asia/singapore/stjohnskusu.html">2015-03-28</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/7kmwalk.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20150322_125011.jpg" srcset="../../images/IMG_20150322_125011-p-500x375.jpeg 500w, ../../images/IMG_20150322_125011-p-800x600.jpeg 800w, ../../images/IMG_20150322_125011-p-1080x810.jpeg 1080w, ../../images/IMG_20150322_125011-p-1600x1200.jpeg 1600w, ../../images/IMG_20150322_125011-p-2000x1500.jpeg 2000w, ../../images/IMG_20150322_125011-p-2600x1950.jpeg 2600w, ../../images/IMG_20150322_125011-p-3200x2400.jpeg 3200w, ../../images/IMG_20150322_125011.jpg 3264w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/7kmwalk.html">7 km walk</a><a class="entry-date" href="../../asia/singapore/7kmwalk.html">2015-03-22</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/hawparchinesegarden.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20150321_112933.jpg" srcset="../../images/IMG_20150321_112933-p-500x667.jpeg 500w, ../../images/IMG_20150321_112933-p-800x1067.jpeg 800w, ../../images/IMG_20150321_112933-p-1080x1440.jpeg 1080w, ../../images/IMG_20150321_112933-p-1600x2134.jpeg 1600w, ../../images/IMG_20150321_112933-p-2000x2667.jpeg 2000w, ../../images/IMG_20150321_112933.jpg 2448w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/hawparchinesegarden.html">haw par villa<br>chinese garden</a><a class="entry-date" href="../../asia/singapore/hawparchinesegarden.html">2015-03-21</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/pulauubin.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20150228_162132.jpg" srcset="../../images/IMG_20150228_162132-p-500x375.jpeg 500w, ../../images/IMG_20150228_162132-p-800x600.jpeg 800w, ../../images/IMG_20150228_162132-p-1080x810.jpeg 1080w, ../../images/IMG_20150228_162132-p-1600x1200.jpeg 1600w, ../../images/IMG_20150228_162132-p-2000x1500.jpeg 2000w, ../../images/IMG_20150228_162132-p-2600x1950.jpeg 2600w, ../../images/IMG_20150228_162132-p-3200x2400.jpeg 3200w, ../../images/IMG_20150228_162132.jpg 3264w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/pulauubin.html">pulau ubin</a><a class="entry-date" href="../../asia/singapore/pulauubin.html">2015-02-28</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/cny2015.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20150218_235931.jpg" srcset="../../images/IMG_20150218_235931-p-500x667.jpeg 500w, ../../images/IMG_20150218_235931-p-800x1067.jpeg 800w, ../../images/IMG_20150218_235931-p-1080x1440.jpeg 1080w, ../../images/IMG_20150218_235931-p-1600x2134.jpeg 1600w, ../../images/IMG_20150218_235931-p-2000x2667.jpeg 2000w, ../../images/IMG_20150218_235931.jpg 2448w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/cny2015.html">chinese new year 2015</a><a class="entry-date" href="../../asia/singapore/cny2015.html">2015-02-18</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="../../asia/singapore/thaipusam2015.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="../../images/IMG_20150203_203214.jpg" srcset="../../images/IMG_20150203_203214-p-500x667.jpeg 500w, ../../images/IMG_20150203_203214-p-800x1067.jpeg 800w, ../../images/IMG_20150203_203214-p-1080x1440.jpeg 1080w, ../../images/IMG_20150203_203214-p-1600x2134.jpeg 1600w, ../../images/IMG_20150203_203214-p-2000x2667.jpeg 2000w, ../../images/IMG_20150203_203214.jpg 2448w">
      </a>
      
      <a class="entry-title" href="../../asia/singapore/thaipusam2015.html">thaipusam 2015</a><a class="entry-date" href="../../asia/singapore/thaipusam2015.html">2015-02-03</a>
    </div>  
  </div>
