---
layout: "base.njk"
title: "Pamir Plateau, Table of Contents"
description: "All of our Pamir Plateau posts, from the Xinjiang 2026 trip, on one page."
bodyClass: "body"
permalink: "/asia/china/pamirplateautoc.html"
---
<div class="page-title-container">
    <div class="page-title">PAMIR PLATEAU (帕米爾高原)</div>
  </div>
  <div class="flexwrap w-container">
    <div class="entrytest">
      <a class="w-inline-block" href="xinjiang2026_03.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="images/xinjiang2026_03_05.jpg">
      </a>
      <a class="entry-title" href="xinjiang2026_03.html">Tashkurgan (塔什庫爾干)<br>Day 3</a><a class="entry-date" href="xinjiang2026_03.html">2026-09-16</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="xinjiang2026_02.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="images/xinjiang2026_02_17.jpg">
      </a>
      <a class="entry-title" href="xinjiang2026_02.html">Pamir Plateau (帕米爾高原)<br>Day 2</a><a class="entry-date" href="xinjiang2026_02.html">2026-09-15</a>
    </div>
  </div>
