---
layout: "base.njk"
title: "About"
description: "THIS is the stuff I've did already."
bodyClass: "body"
permalink: "/about.html"
---
<div class="page-title-container">
    <div class="page-title">ABOUT</div>
  </div>
  <div class="entry-container w-container"><img class="image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 628px, 840px" src="images/09950018.JPG" srcset="images/09950018-p-500x332.jpeg 500w, images/09950018-p-800x531.jpeg 800w, images/09950018-p-1080x717.jpeg 1080w, images/09950018-p-1600x1062.jpeg 1600w, images/09950018.JPG 1791w">
    <div class="blog-text w-richtext">
      <p></p>
      <p>The world is not a big and scary place, but one where humans have lived between times of War and Peace, striving to be gods while only mere mortals.</p>
      <p><strong>THIS</strong> is my attempt at recounting the feeling of landscapes that have transformed and shaped human civilizations; the taste of foods that have sustained cultures for centuries.</p>
	  <p><strong>THIS</strong> is a response to my parents who always ask me, "Where are you in the world?". And my response:
	  <p><strong>THIS</strong> is where I've been already.
    </div>
  </div>
