---
layout: "base.njk"
title: "Contact"
description: "Holler at your boys"
permalink: "/contact.html"
---
<div class="page-title-container">
    <div class="page-title">CONTACT</div>
  </div>
  <div class="w-container">
    <div class="contact-text"><strong>Email</strong>: JDCYINS <strong>@</strong> GMAIL <strong>.</strong> COM</div>
  </div>
