---
layout: "base.njk"
title: "Snapped"
description: "Pictures taken from various random walkabouts"
permalink: "/snapped.html"
---
<div class="page-title-container">
    <div class="page-title">SNAPPED</div>
  </div>
  <div class="flexwrap w-container">
    <div class="entrytest">
      <a class="w-inline-block" href="asia/singapore/photo-singaypore.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="images/DSC10593.JPG">
      </a>
      <div class="category-div"><a class="category-link-went" href="snapped.html">SNAPPED</a>
      <a class="entry-title" href="asia/singapore/photo-singaypore.html">sin-gay-pore</a><a class="entry-date" href="asia/singapore/photo-singaypore.html">2017-01-19 to 2017-04-01</a>
    </div>
    <div class="entrytest">
      <a class="w-inline-block" href="asia/singapore/photo-singaporeriver.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="images/DSCF9408.JPG">
      </a>
      <div class="category-div"><a class="category-link-went" href="snapped.html">SNAPPED</a>
      <a class="entry-title" href="asia/singapore/photo-singaporeriver.html">singapore river</a><a class="entry-date" href="asia/singapore/photo-singaporeriver.html">2017-02-11</a>
    </div> 
    <div class="entrytest">
      <a class="w-inline-block" href="asia/singapore/photo-wherewelive.html"><img class="post-image" sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.1875px, 282px" src="images/DSCF6291.JPG">
      </a>
      <div class="category-div"><a class="category-link-went" href="snapped.html">SNAPPED</a>
      <a class="entry-title" href="asia/singapore/photo-wherewelive.html">where we live</a><a class="entry-date" href="asia/singapore/photo-wherewelive.html">2016-11-16 to 2017-05-24</a>
    </div>     
  </div>
